# PlatformIO
firmware/.pio/
firmware/.vscode/

# Python
__pycache__/
*.pyc
.venv/
venv/
.env
.ipynb_checkpoints/

# Data / models
ml/data/
ml/models/*.joblib

# OS / Office
.DS_Store
Thumbs.db
~$*.docx
